{% extends "layout.html" %}
{% block content %}
<header>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/admindashbord.css') }}">

</header>
<h2>Admin Dashboard</h2>
<p>Total Items: <strong>{{ total_items }}</strong></p>

<h3>Add New Item</h3>
<form method="POST" action="/admin/add_item" enctype="multipart/form-data">
    <input name="name" placeholder="Item Name" required>
    <input name="price" placeholder="Price" type="number" min="1" step="0.01" required>
    <textarea name="description" placeholder="Item Description" required></textarea>
    <input type="file" name="image" accept="image/*" required>
    <button>Add Item</button>
</form>


<h3>All Items</h3>
{% for item in items %}
    <div style="margin-bottom: 10px;">
        <img src="{{ url_for('static', filename='uploads/' ~ item[3]) }}" width="80">
        <strong>{{ item[1] }}</strong> - ₹{{ item[2] }}
        <a href="/admin/edit_item/{{ item[0] }}">Edit</a> |
        <a href="/admin/delete_item/{{ item[0] }}" onclick="return confirm('Are you sure?')">Delete</a>
    </div>
{% endfor %}

<p><a href="/admin/logout">Logout</a></p>



{% endblock %}
